<section class="section-contacts">
	<div class="container section-contacts__container">
		<h2 class="section-contacts__title">Contacts</h2>
		<div class="map">
			<div class="map__img">
				<img src="./img/map.png" alt="map">
			</div>
			<div class="map__info">
				<div class="map__header">
					<a href="/" class="map__logo">
						<div>FRONT-END</div>
						<div>developer</div>
					</a>
				</div>
				<div class="contact">
					<div class="contact__header">
						<h2>IVAN Ivanov</h2>
						<span>{</span>
					</div>

					<p class="contact__desc">Lorem ipsum dolor sit amet, consectetur adipiscing e lit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipex.</p>

					<a href="/" class="contact-item">
						<div class="contact-item__icon">@</div>
						<div class="contact-item__text">user@user.com</div>
					</a>
					<a href="/" class="contact-item">
						<div class="contact-item__icon">#</div>
						<div class="contact-item__text">+38063-100-10-10</div>
					</a>
					<div class="contact__footer">}</div>
				</div>
			</div>
		</div>
	</div>
</section>
