.section-contacts {
	padding-top: 110px;
	padding-bottom: 110px;
	background: url("../img/contacts-bg.png") center/cover no-repeat;

	&__title {
		color: #F9CE37;
		font-family: Unica One;
		font-size: 53px;
		font-weight: 400;
		letter-spacing: 5.3px;
		text-transform: uppercase;
		margin-bottom: 80px;
	}
}

.map {
	border-radius: 30px;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(6px);
	display: flex;
	gap: 74px;

	@include desktop-small {
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
		padding: 50px;
		padding-top: 0;
	}

	&__img {
		flex-shrink: 0;
		padding-left: 34px;
		display: flex;
		align-items: center;
		max-width: 638px;
		@include mobile {
			padding-left: 0;
			justify-content: center;
		}
	}

	&__info {}

	&__header {
		display: flex;
		justify-content: flex-end;
		padding-right: 67px;
		margin-bottom: 17px;

		@include mobile {
			justify-content: center;
			padding-right: 0;
		}
	}

	&__logo {
		border-radius: 0px 0px 30px 30px;
		background: #f9ce37;
		display: inline-block;
		padding: 35px 18px;
		position: relative;
		color: #353535;
		font-family: var(--ff-second);
		font-size: 24px;
		font-weight: 400;
		text-transform: uppercase;


		div:last-child {
			color: var(--header-link);
			font-family: var(--ff);
			font-size: 16px;
			font-weight: 400;
			text-transform: lowercase;
			position: absolute;
			bottom: 24px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}

.contact {
	&__header {
		display: inline-flex;
		align-items: center;
		gap: 27px;
		color: #f9ce37;
		font-family: Unica One;
		font-size: 32px;
		font-weight: 400;
		letter-spacing: 3.2px;
		text-transform: uppercase;

		@include mobile {
			font-size: 26px;
		}

		span {
			color: #f5f5f5;
			font-family: Unica One;
			font-size: 60px;
			font-weight: 400;
			line-height: 180%;
			letter-spacing: 2.4px;

			@include mobile {
				font-size: 36px;
			}
		}
	}

	&__desc {
		color: #d9d9d9;
		font-family: Unica One;
		font-size: 16px;
		font-weight: 400;
		margin-bottom: 19px;
	}

	&__footer {
		color: #f5f5f5;
		font-family: Unica One;
		font-size: 60px;
		font-weight: 400;
		line-height: 180%;
		letter-spacing: 2.4px;
		margin-bottom: 40px;

		@include mobile {
			font-size: 36px;
			margin-bottom: 0;
		}
	}
}

.contact-item {
	display: flex;
	align-items: center;
	gap: 25px;
	margin-bottom: 3px;

	&__icon {
		color: #F9CE37;
		font-family: Unica One;
		font-size: 32px;
		font-weight: 400;
		line-height: 180%;
		letter-spacing: 1.28px;
	}

	&__text {
		color: #F5F5F5;
		font-family: Unica One;
		font-size: 24px;
		font-weight: 400;
		letter-spacing: 2.4px;
		text-transform: uppercase;

		@include mobile {
			font-size: 16px;
			letter-spacing: 0;
		}
	}
}
